body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.content-background {
  background: #fff !important;
}
.ant-layout-header{
  background: #fff;
}
.headerPage{
  background: #fff !important;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414 !important;
  }
  .ant-form-item-explain, .ant-form-item-extra{
    min-height: auto !important;
    font-size: 15.5px;
  }
  .button-delete{
    position: absolute;
    right: 0;
  }
  .relative{
    position: relative;
  }
  .header-center{
    display: flex;
    justify-content: center;
    color:rgb(72, 117, 177);
  }
  .site-page-header{
    background-color: rgb(60, 127, 228);
  }
  .content-public{
    background-color: #fff;
  }
  .card-public{
    background: rgb(211, 211, 235);
  }